.carrousel {
    padding: 0;
    margin: 0;
    width: 95%;
    align-items: left;
    display: flex;

}

.container-carousel {
    align-items: left;
}
.carrousel img {
    max-width: 40rem;
    max-height: 20rem;
}
