/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');


.headphones-svg{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

.headphones-svg h5{
    padding: 0;
    margin: 0 auto;
}
