*{
    text-align: center;}

.sec1-main {
    display: flex;
    flex-direction: row;
}

.sec1-main img {
    width: 55%;
}
.sec1-main .text{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec1-main h1{
    color: #63278b;
}

@media only screen and (max-width:500px){
    .sec1-main {
        display: flex;
        flex-direction: column;
    }
    .sec1-main img {
        width: 100%;
    }
}