.products img {
    width: 3.5rem;
    padding: 20px;
    height: auto;
    border-radius: 4px;
    margin: 5px;
    transition: 1s;
}

.products img:hover {
    border: 1px solid black;
}

.container-products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 30px;
}

.container-products a {
    text-decoration: none;
    color: black;
}