.border {
    border: 1px solid black;
    margin: 2rem;

}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.border .container img {
    width: 100%;
}
