.recomendacionesDiv {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.recomendacionesDiv img{
    max-width: 720px;
}
.redes-sociales img{
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

.redes-sociales {
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    padding: 20px;
}

@media only screen and (max-width:500px) {
    .recomendacionesDiv {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .recomendacionesDiv #background {
        display: flex;
        align-items: flex-start;
        justify-content: start;
        max-width: 300px;
    }
    
}